* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter' , sans-serif;
}

body {
    background: #f5f5f5;
    color: #222;
    line-height: 1.8;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    background: #111;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.profile-img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 25px;
    border: 4px solid #c4a484;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}

.nav {
    max-width: 1100px;
    margin: auto;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}

.menu {
    display: flex;
    gap: 20px;
}

.menu a {
    font-size: 14px;
    transition: 0.3s;
}

.menu a:hover {
    color: #c4a484;
}

.menu-btn {
    display: none;
    font-size: 22px;
    cursor: pointer;
}

section {
    padding: 80px 20px;
    max-width: 1100px;
    margin: auto;
}

.hero {
    text-align: center;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 15px;
}

.hero p {
    max-width: 600px;
    margin: auto;
    color: #555;
}

.btn {
    display: inline-block;
    margin-top: 25px;
    padding: 12px 30px;
    background: #111;
    color: #fff;
    border-radius: 30px;
    transition: 0.3s;
}

.btn:hover {
    background: #c4a484;
    color: #111;
}

.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.skills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.skills-box {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
}

form {
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input, textarea {
   padding: 12px;
   border: 1px solid #ccc;
   border-radius: 8px;
   outline: none;
}

textarea {
    resize: none;
    height: 120px;
}

button {
    padding: 12px;
    background: #111;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #c4a484;
    color: #111;
}

#topBtn {
    position: fixed;
    bottom: 25px;
    left: 25px;
    padding: 10px 14px;
    background: #111;
    color: #fff;
    border-radius: 50%;
    display: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .menu {
        position: absolute;
        top: 60px;
        right: 0;
        background: #111;
        flex-direction: column;
        width: 100%;
        display: none;
    }

    .menu.active {
        display: flex;
    }

    .menu a {
        padding: 15px;
        border-top: 1px solid #222;
    }

    .menu-btn {
        display: block;
    }

    .about {
        grid-template-columns: 1fr;
    }
}